.button {
    background: none;
    border: none;
    padding: 5px 10px;
    font-size: 20px;
    color: hsl(200, 100%, 30%);
    font-weight: bold;
    text-decoration: none;
    cursor: pointer;
}

.button:hover {
    text-decoration: none;
    cursor: pointer;
}

.toggle-button {
    background-color: hsl(200, 25%, 95%);
    color: hsl(200, 15%, 8%);
    border: 1px solid hsl(200, 15%, 50%);
    width: 100%;
    text-align: left;
    border-radius: 5px;
    margin-bottom: 5px;
    padding: 10px;

}

.toggle-icon {
    float: right;
}

.collapse.show + .toggle-button .toggle-icon {
    transform: rotate(180deg);
}

.btn-primary{
    margin: 5px;
}
.btn-secondary{
    margin: 5px;
}

.btn-warning{
    border-color: hsl(200, 100%, 30%);
}

.form-control{
    width: 90%;
}