@media print {
    .no-print {
        display: none;
    }

    .report-logo {
        display: none;
    }

    .report-table-container {
        width: 100%;
        overflow-x: visible;
    }

    .report-table {
        width: 100%;
        border-collapse: collapse;
    }

    .report-table th, .report-table td {
        border: 1px solid black;
        padding: 8px;
        text-align: left;
    }

    .report-table th {
        background-color: #f2f2f2;
    }

    .report-table td {
        word-break: break-all;
    }

    .table-responsive {
        overflow-x: visible;
        width: auto;
    }

    .report-logo {
        display: inline-flex;
    }
}

@media screen and (max-width: 768px) {
    .center-box, .footer {
        margin-left: 0;
        width: 100%;
    }

    .navbar {
        height: auto;
    }

    .content-box {
        display: block;
    }

    .left-box, .right-box {
        width: 100%;
    }
}

@media (min-width: 992px) {
    #userListCollapse, #meterListCollapse {
        display: block !important;
    }
}
