.user-list, .meter-list, .free-user-list {
    list-style-type: none;
    margin-left: 10px;
    padding: 0;
}

.user-item, .meter-item, .free-user-item {
    border: 1px solid #ccc;
    margin-bottom: 10px;
    padding: 10px;
    background-color: #f9f9f9;
}

.free-user-item:last-child {
    border-bottom: none;
}
