{% extends 'base.html' %}

{% block content %}
<div class="center-box">
    <h2>Upload CSV File</h2>
    <form method="POST" enctype="multipart/form-data">
        {{ form.hidden_tag() }}
        <div class="form-group">
            {{ form.device_type.label(class="form-field") }}
            {{ form.device_type(class="form-control") }}
        </div>
        <div class="form-group">
            {{ form.file.label(class="form-field") }}
            {{ form.file(class="form-control-file") }}
        </div>
        <button type="submit" class="btn btn-primary">Upload CSV</button>
    </form>
</div>
{% endblock %}
