{% extends 'base.html' %}

{% block content %}
    <h2>Panel Administratora</h2>
    <div class="content-box">


    <div class="left-box" style="width: 25%">
<h3>Dodaj użytkownika</h3>
    <div>
        <button id="showUserForm" class="btn btn-primary">Pokaż formularz</button>
        <button id="hideUserForm" class="btn btn-secondary" style="display: none">Schowaj formularz</button>
    </div>
    <!-- Widok użytkowników -->
<button class="btn btn-link d-block d-lg-none toggle-button" type="button" data-toggle="collapse" data-target="#userListCollapse" aria-expanded="false" aria-controls="userListCollapse">
    <h3>Lista użytkowników <span class="toggle-icon">&#9660;</span></h3>
    </button>
    <h3 class="d-none d-lg-block">Lista użytkowników</h3>
    <div class="collapse"  id="userListCollapse">
  <input type="text" id="search-user-input" style="width: 320px" placeholder="Wyszukaj użytkownika" class="search-bar">
<ul class="user-list limited-list" style="width: 320px" id="user-list">
    {% for user in users %}
        <li class="user-item">
            <a href="{{ url_for('main_routes.user_overview', user_id=user.id) }}">{{ user.email }}</a>
        </li>
    {% endfor %}
</ul>
    </div>


<button class="btn btn-link d-block d-lg-none toggle-button" type="button" data-toggle="collapse" data-target="#meterListCollapse" aria-expanded="false" aria-controls="meterListCollapse">

    <h3>Lista liczników <span class="toggle-icon">&#9660;</span></h3>
</button>
    <h3 class="d-none d-lg-block">Lista liczników</h3>
    <div class="collapse" id="meterListCollapse">

    <input type="text" id="search-meter-input" style="width: 320px" placeholder="Wyszukaj według numeru radiowego" >
    <ul class="user-list limited-list" style="width: 320px"  id="meter-list">
        {% for meter in meters %}
            <li class="meter-item">
                <a href="{{ url_for('main_routes.meter_details', meter_id=meter.id) }}"> {{ meter.radio_number }}</a>
            </li>
        {% endfor %}
    </ul>
    </div>
<form method="POST" action="{{ url_for('main_routes.delete_meters') }}">
    <button type="submit" class="btn btn-danger">Usuń wszystkie mierniki i odczyty</button>
</form>
   </div>
<div class="right-box user-overview-container">

<form id="userForm" method="POST" action="{{ url_for('main_routes.add_user') }}" style="display: none;max-width: 400px"><h3>Dodaj użytkownika</h3>

    {{ user_form.hidden_tag() }}
    <div class="form-group">
        {{ user_form.email.label(class="form-label") }}
        {{ user_form.email(class="form-control") }}
    </div>
    <div class="form-group">
        {{ user_form.password.label(class="form-label") }}
        {{ user_form.password(class="form-control") }}
    </div>
    <div class="form-group">
        {{ user_form.confirm_password.label(class="form-label") }}
        {{ user_form.confirm_password(class="form-control") }}
    </div>
    <div class="form-check">
        {{ user_form.is_admin(class="form-check-input") }}
        {{ user_form.is_admin.label(class="form-check-label") }}
    </div>
    <div class="form-check">
        {{ user_form.is_superuser(class="form-check-input") }}
        {{ user_form.is_superuser.label(class="form-check-label") }}
    </div>
    <button type="submit" class="btn btn-primary">Dodaj</button>
</form>

    {% block user %}

    {% endblock user %}
</div>
</div>



    <script>
        const searchMeterInput = document.getElementById('search-meter-input');
        const meterList = document.getElementById('meter-list');

        searchMeterInput.addEventListener('input', function() {
            const searchTerm = searchMeterInput.value.toLowerCase();
            const meterItems = meterList.querySelectorAll('.meter-item');

            meterItems.forEach(function(item) {
                const meterNumber = item.textContent.trim().toLowerCase();
                if (meterNumber.includes(searchTerm)) {
                    item.style.display = 'block';
                } else {
                    item.style.display = 'none';
                }
            });
        });
    </script>

   <script>
        const showUserFormBtn = document.getElementById("showUserForm");
        const hideUserFormBtn = document.getElementById("hideUserForm");
        const userForm = document.getElementById("userForm");

        showUserFormBtn.addEventListener("click", function () {
            userForm.style.display = "block";
            this.style.display = "none";
            hideUserFormBtn.style.display = "block";
        });

        hideUserFormBtn.addEventListener("click", function () {
            userForm.style.display = "none";
            this.style.display = "none";
            showUserFormBtn.style.display = "block";
        });
    </script>

    <script>
    const searchUserInput = document.getElementById('search-user-input');
    const userList = document.getElementById('user-list');

    searchUserInput.addEventListener('input', function() {
        const searchTerm = searchUserInput.value.toLowerCase();
        const userItems = userList.querySelectorAll('.user-item');

        userItems.forEach(function(item) {
            const userEmail = item.textContent.trim().toLowerCase();
            if (userEmail.includes(searchTerm)) {
                item.style.display = 'block';
            } else {
                item.style.display = 'none';
            }
        });
    });


    document.querySelectorAll('.toggle-button').forEach(function(button) {
    button.addEventListener('click', function() {
        var icon = this.querySelector('.toggle-icon');
        if (icon.textContent === '\u25BC') { // Strzałka w dół
            icon.textContent = '\u25B2'; // Zmień na strzałkę w górę
        } else {
            icon.textContent = '\u25BC'; // Zmień na strzałkę w dół
        }
    });
});

</script>

{% endblock %}
