{% extends 'base.html' %}
{% block extra_css %}
 <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='ReportStyles.css')}}">
 <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css')}}">


{% endblock extra_css %}
{% block content %}
    <button class="btn btn-secondary no-print" onclick="goBack()">Powrót</button>
    <script>function goBack() {
            window.history.back();
        }
    </script>
<div class="print-header">
    <img src="{{ url_for('static', filename='img/Zdalny_Odczyt_RGB.png') }}" alt="Logo" class="logo report-logo">
    <h2>Raport za okres: {{ report_start_date }} do {{ report_end_date }}</h2>
    <p>Użytkownicy w raporcie: {{ unique_emails | join(', ') }}</p>
</div>
    <div class="report-actions no-print">
    <button id="download-csv">Pobierz CSV</button>
    <button id="download-json">Pobierz JSON</button>
    <button id="print-pdf">Drukuj PDF</button>

</div>

<div class="table-responsive report-table-container">
<table class="report-table">
    <tr>
        <th>Email Użytkownika</th>
        <th>Adres Licznika</th>
        <th>Nr Radiowy</th>
        <th>Nr Licznika</th>
        <th>Typ Licznika</th>
        <!-- Nagłówki dla miesięcy -->
        {% for month_name in translated_month_names %}
        <th>{{ month_name }}</th>
        {% endfor %}
    </tr>
    {% for data in report_data %}
    <tr class="{{ loop.cycle('odd-row', 'even-row') }}">
        <td>{{ data.user_email }}</td>
        <td>{{ data.meter_address }}</td>
        <td>{{ data.meter_number }}</td>
        <td>{{ data.device_number }}</td>
        <td>{{ data.meter_type }}</td>
        <!-- Dane dla każdego miesiąca -->
        {% for month_name in translated_month_names %}
        <td>{{ data[month_name] }}</td>
        {% endfor %}
    </tr>
    {% endfor %}
</table>
</div>
<button id="showChartBtn" class="btn btn-primary no-print" style="display: none;">Pokaż wykres</button>
<button id="hideChartBtn" class="btn btn-primary no-print">Ukryj wykres</button>

<!-- Kontener na wykres -->
<div id="reportChart" style="width:inherit;height: 100%" ></div>

<script>
document.addEventListener('DOMContentLoaded', function() {
    var reportData = {{ report_data | tojson | safe }};
    drawChart(reportData);

    // Obsługa przycisków do pokazywania/ukrywania wykresu
    var showChartBtn = document.getElementById('showChartBtn');
    var hideChartBtn = document.getElementById('hideChartBtn');
    var chartContainer = document.getElementById('reportChart');

    showChartBtn.addEventListener('click', function() {
        chartContainer.style.display = 'block';
        showChartBtn.style.display = 'none';
        hideChartBtn.style.display = 'block';
        drawChart(reportData); // Rysuj wykres ponownie, aby dostosować do widocznej przestrzeni
    });

    hideChartBtn.addEventListener('click', function() {
        chartContainer.style.display = 'none';
        showChartBtn.style.display = 'block';
        hideChartBtn.style.display = 'none';
    });

    window.onresize = function() {
        if (chartContainer.style.display !== 'none') {
            drawChart(reportData);
        }
    };
});
</script>
<script>
const monthNames = {
    'Styczeń': '01',
    'Luty': '02',
    'Marzec': '03',
    'Kwiecień': '04',
    'Maj': '05',
    'Czerwiec': '06',
    'Lipiec': '07',
    'Sierpień': '08',
    'Wrzesień': '09',
    'Październik': '10',
    'Listopad': '11',
    'Grudzień': '12'
};

function convertMonthNameToISO(monthYear) {
    const [month, year] = monthYear.split(' ');
    return `${year}-${monthNames[month]}`;
}

function sortDataByDate(data) {
    return data.sort((a, b) => {
        return new Date(a.date) - new Date(b.date);
    });
}

function drawChart(reportData) {
    var traceData = [];
    var baseHeight = 300; // Podstawowa wysokość
    var additionalHeightPerTrace = 50

    reportData.forEach(function(dataEntry) {
        var dataWithDates = [];

        // Przejście przez miesiące i zbieranie danych wraz z datami
        for (var monthName in dataEntry) {
            if (dataEntry.hasOwnProperty(monthName) && monthName !== 'user_email' && monthName !== 'meter_number' && monthName!== 'device_number' && monthName !== 'meter_address' && monthName !== 'meter_type') {
                var dateISO = convertMonthNameToISO(monthName);
                dataWithDates.push({ date: dateISO, value: dataEntry[monthName] });
            }
        }

        // Sortowanie danych według daty
        var sortedData = sortDataByDate(dataWithDates);

        var xValues = sortedData.map(item => item.date);
        var yValues = sortedData.map(item => item.value);
        var meterLabel = dataEntry.meter_number; // lub inny unikalny identyfikator licznika

        // Tworzenie serii danych dla każdego licznika
        var trace = {
            x: xValues,
            y: yValues,
            type: 'scatter',
            mode: 'lines+markers',
            name: meterLabel
        };
        traceData.push(trace);
    });

    var calculatedHeight = baseHeight + (traceData.length * additionalHeightPerTrace);

    // Pobierz szerokość kontenera 'center-box'
    var centerBox = document.querySelector('.center-box');
    var centerBoxWidth = centerBox.offsetWidth - 50;

    // Ogranicz maksymalną wysokość wykresu
    var maxHeight = window.innerWidth < 1000 ? 1 * centerBoxWidth : calculatedHeight;
    calculatedHeight = Math.min(calculatedHeight, maxHeight);

    // Ustawianie wysokości kontenera wykresu
    var chartContainer = document.getElementById('reportChart');
    chartContainer.style.height = calculatedHeight + 'px';

    var layout = {
        title: '',
        xaxis: {
            title: 'Miesiąc',
            type: 'date'
        },
        yaxis: {
            title: 'Wartość'
        },
        autosize: false,
        height:calculatedHeight,
        responsive: true
    };
    if (window.innerWidth < 1280) {
        layout.width = centerBoxWidth -130;
    }


    Plotly.newPlot('reportChart', traceData, layout);
}

document.addEventListener('DOMContentLoaded', function() {
    var reportData = {{ report_data | tojson | safe }};
    drawChart(reportData);

    window.onresize = function() {
        drawChart(reportData);
    };
});










</script>

 <script>
    // Funkcja do konwersji danych na format CSV
    function exportTableToCSVWithDialog() {
    const userChoice = confirm("Czy chcesz pobrać plik CSV z polskimi znakami? Kliknij 'Anuluj' dla trybu zgodności (bez polskich znaków).");

    if (userChoice) {
        exportTableToCSVWithPolishChars();
    } else {
        exportTableToCSVWithCompatibilityMode();
    }
}

function exportTableToCSVWithPolishChars() {
    const table = document.querySelector('.report-table');
    let csvContent = '';

    for (let row of table.rows) {
        let rowData = [];
        for (let cell of row.cells) {
            let cellText = '"' + cell.innerText.replace(/(\r\n|\n|\r)/gm, "") + '"';
            rowData.push(cellText);
        }
        csvContent += rowData.join(',') + '\r\n';
    }
    // Utwórz unikalną nazwę pliku z datą
    const date = new Date();
    const dateString = date.toISOString().split('T')[0];
    const fileName = `raport_${dateString}.csv`;

    downloadCSV(csvContent, fileName);
}

function exportTableToCSVWithCompatibilityMode() {
    const table = document.querySelector('.report-table');
    let csvContent = '';

    for (let row of table.rows) {
        let rowData = [];
        for (let cell of row.cells) {
            let cellText = replacePolishChars(cell.innerText);
            cellText = '"' + cellText.replace(/(\r\n|\n|\r)/gm, "") + '"';
            rowData.push(cellText);
        }
        csvContent += rowData.join(',') + '\r\n';
    }
    // Utwórz unikalną nazwę pliku z datą
    const date = new Date();
    const dateString = date.toISOString().split('T')[0];
    const fileName = `raport_${dateString}.csv`;

    downloadCSV(csvContent, fileName);
}

function replacePolishChars(text) {
    const polishChars = { 'ą': 'a', 'ć': 'c', 'ę': 'e', 'ł': 'l', 'ń': 'n', 'ó': 'o', 'ś': 's', 'ż': 'z', 'ź': 'z' };
    return text.replace(/[ąćęłńóśżź]/g, match => polishChars[match]);
}

function downloadCSV(csvContent, fileName) {
    const blob = new Blob([csvContent], { type: 'text/csv;charset=utf-8;' });
    const link = document.createElement('a');
    link.href = URL.createObjectURL(blob);
    link.download = fileName;
    link.style.display = 'none';

    document.body.appendChild(link);
    link.click();
    document.body.removeChild(link);
}

// Przypisz nową funkcję do przycisku eksportu
const exportButton = document.getElementById('download-csv');
exportButton.addEventListener('click', exportTableToCSVWithDialog);

   function printReport() {
    const date = new Date();
    const dateString = date.toISOString().split('T')[0];
    const suggestedFileName = `raport_${dateString}.pdf`;

    alert(`Sugerowana nazwa pliku: ${suggestedFileName}`);

    window.print();
}

// Przypisz funkcję do przycisku drukowania
const printButton = document.getElementById('print-pdf');
printButton.addEventListener('click', printReport);



function exportTableToJSON() {
    const table = document.querySelector('.report-table'); // Znajdź tabelę po klasie
    let jsonData = [];

    // Pobierz nagłówki tabeli
    const headers = [];
    for (let headerCell of table.rows[0].cells) {
        headers.push(headerCell.innerText);
    }

    // Przejście przez wiersze tabeli i zbieranie danych
    for (let i = 1; i < table.rows.length; i++) {
        let row = table.rows[i];
        let rowData = {};
        for (let j = 0; j < row.cells.length; j++) {
            rowData[headers[j]] = row.cells[j].innerText;
        }
        jsonData.push(rowData);
    }

    // Utwórz unikalną nazwę pliku z datą
    const date = new Date();
    const dateString = date.toISOString().split('T')[0];
    const fileName = `raport_${dateString}.json`;

    // Utwórz link do pobrania pliku JSON
    const blob = new Blob([JSON.stringify(jsonData, null, 4)], { type: 'application/json' });
    const link = document.createElement('a');
    link.href = URL.createObjectURL(blob);
    link.download = fileName;
    link.style.display = 'none';

    document.body.appendChild(link);
    link.click();
    document.body.removeChild(link);
}

// Przypisz funkcję do przycisku eksportu
const exportJSONButton = document.getElementById('download-json');
exportJSONButton.addEventListener('click', exportTableToJSON);
</script>
{% endblock %}
