{% extends "base.html" %}

{% block extra_css %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='edit_meter_styles.css')}}">
{% endblock extra_css %}

{% block content %}
<div class="edit-meter-container ">
    <form method="post" action="{{ url_for('main_routes.edit_meter', meter_id=meter.id) }}">
        <div class="form-group">
            <label for="new_radio_number">Nowy numer radiowy:</label>
            <input type="text" id="new_radio_number" name="new_radio_number" class="form-control" value="{{ meter.radio_number }}">
        </div>
        <button type="submit" class="btn btn-primary">Zapisz zmiany</button>
    </form>

    <h3>Odczyty</h3>
<div class="table-responsive">
    <form method="post" action="{{ url_for('main_routes.edit_meter', meter_id=meter.id) }}">
        <table>
        <tr>
            <th>Usuń</th>
            <th>Data</th>
            <th>Odczyt</th>
            <th>Edytuj odczyt</th>
        </tr>
        {% for reading in readings %}
        <tr>
            <td><input type="checkbox" name="reading_ids" value="{{ reading.id }}"></td>
            <td>{{ reading.date.strftime('%Y-%m-%d') }}</td>
            <td>{{ reading.reading }}</td>
            <td><input type="text" name="reading_value_{{ reading.id }}" value="{{ reading.reading }}"></td>
        </tr>
        {% endfor %}
    </table>

     <div class="new-reading-form">
            <h4>Dodaj nowy odczyt</h4>
            <div class="form-group">
                <label for="new_reading_date">Data odczytu:</label>
                <input type="date" id="new_reading_date" name="new_reading_date" class="form-control">
            </div>
            <div class="form-group">
                <label for="new_reading_value">Wartość odczytu:</label>
                <input type="number" step="0.01" id="new_reading_value" name="new_reading_value" class="form-control">
            </div>
        </div>

        <button type="submit" class="btn btn-primary">Zapisz zmiany</button>
    </form>
</div>
</div>
{% endblock %}
