{% extends "base.html" %}

{% block extra_css %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='edit_meter_styles.css')}}">
{% endblock extra_css %}

{% block content %}
<div class="edit-meter-container ">
    <form method="post" action="{{ url_for('main_routes.edit_meter', meter_id=meter.id) }}">
        <div class="form-group">
            <label for="new_radio_number">Nowy numer radiowy:</label>
            <input type="text" id="new_radio_number" name="new_radio_number" class="form-control" value="{{ meter.radio_number }}">
        </div>
        <button type="submit" class="btn btn-primary">Zapisz zmiany</button>
    </form>

    <h3>Odczyty</h3>
<div class="table-responsive">
    <form method="post" action="{{ url_for('main_routes.edit_meter', meter_id=meter.id) }}">
    <button id="mark-duplicates-button" class="btn btn-warning">Zaznacz duplikaty</button>


        <table>
        <tr>
            <th>Zaznacz</th>
            <th>Data</th>
            <th>Odczyt</th>
            <th>Edytuj odczyt</th>
        </tr>
        {% for reading in readings %}
        <tr>
            <td><input type="checkbox" name="reading_ids" value="{{ reading.id }}"></td>
            <td>{{ reading.date }}</td>
            <td>{{ reading.reading }}</td>
            <td><input type="text" name="reading_value_{{ reading.id }}" value="{{ reading.reading }}"></td>
        </tr>
        {% endfor %}
    </table>
        <button type="submit" class="btn btn-primary">Zapisz zmiany</button>
    </form>
</div>
</div>

 <script>
document.getElementById('mark-duplicates-button').addEventListener('click', function() {
    const readings = {};
    let duplicatesFound = false;

    document.querySelectorAll('table tr').forEach(row => {
        const dateCell = row.querySelector('td:nth-child(2)');
        if (dateCell) {
            const date = dateCell.textContent.trim();
            if (!readings[date]) {
                readings[date] = [];
            }
            readings[date].push(row);
        }
    });

    Object.values(readings).forEach(rows => {
        if (rows.length > 1) {
            duplicatesFound = true;
            // Zaznacz wszystkie checkboxy oprócz ostatniego wiersza dla tej samej daty
            rows.slice(0, -1).forEach(duplicateRow => {
                const checkbox = duplicateRow.querySelector('input[type="checkbox"]');
                if (checkbox) {
                    checkbox.checked = true;
                }
            });
        }
    });

    if (!duplicatesFound) {
        alert("Nie znaleziono duplikatów.");
    }
});
</script>

{% endblock %}
