{% extends "base.html" %}

{% block content %}
<div class="center-box">
    <h2>Prześlij Plik</h2>
    <form method="POST" action="{{ url_for('main_routes.upload_csv') }}" enctype="multipart/form-data">
        {{ form.hidden_tag() }}
        <div class="form-group" style="width: 150px;">
            {{ form.device_type.label }}
            {{ form.device_type(class="form-control") }}
        </div>
        <div class="form-group">
            {{ form.file.label }}
            {{ form.file(class="form-control-file") }}
        </div>
        <div class="form-group">
            {{ form.submit(class="btn btn-primary") }}
        </div>
    </form>
</div>
{% endblock content %}
