{% extends 'base.html' %}

{% block content %}
<h2>Podsumowanie Dodanych Użytkowników</h2>
<table class="table">
    <thead>
        <tr>
            <th>Email</th>
            <th>Hasło</th>
        </tr>
    </thead>
    <tbody>
        {% for user in users %}
        <tr>
            <td>{{ user.email }}</td>
            <td>{{ user.password }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
<button id="download-csv" class="btn btn-primary">Pobierz CSV</button>
<button id="print-pdf" class="btn btn-primary">Drukuj PDF</button>
{% endblock %}


<!-- Tutaj dodajemy skrypty JavaScript do pobierania CSV i drukowania PDF -->
<script>
document.getElementById('download-csv').addEventListener('click', function() {
    let csvContent = 'data:text/csv;charset=utf-8,';
    csvContent += 'Email,Hasło\r\n';

    // Dodajemy dane użytkowników
    {{ users | safe }}.forEach(function(user) {
        let row = user.email + ',' + user.password;
        csvContent += row + '\r\n';
    });

    const encodedUri = encodeURI(csvContent);
    const link = document.createElement('a');
    link.setAttribute('href', encodedUri);
    link.setAttribute('download', 'users.csv');
    document.body.appendChild(link);
    link.click();
    document.body.removeChild(link);
});

document.getElementById('print-pdf').addEventListener('click', function() {
    window.print();
});

</script>